<div class="row">
    <form method="POST" action="/events" id="event-form">
        {{> event-form}}
        <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" class="col-sm-10">Save Review</button>
        </div>
    </form>
</div>
