<div class="row">
    <form method="POST" action="/events" id="event-form">
        {{> event-form}}
        <div class="form-group">
            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit" class="col-sm-10">Save Review</button>
            </div>
        </div>
    </form>
</div>
